
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.header img {
  width: 75px;
  padding: 10px 10px;
  float: left;
}
li {
  float: left;
}
.logo {
  float: left;
  max-width: 200px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
/* Edit your Footer here */
.footer {
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  background-color: grey ;
  bottom: 0;
  left: 0;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
body {
  background-color: #4286F4;
}
.header-section {
  display: inline-block;
}
ul{
  padding: 0;
  margin: 0;
}
.nav-btn {
  list-style-type: none;
  display: inline-block;
  padding: 20px;
  text-decoration-color: lightblue;
}
.nav-link{
  color: black;
  text-decoration: none;
}
.banner-button{
  text-align: center;
  border-radius: 100px;
}
.body{
      padding: 20px;
    }
    form{
      text-align: center;
      padding-top: 200px;
    }
    input{
      padding: 10px;
      border-radius: 200px;
      border-color: #1C87C9;
      }
      h1 {
      margin: 0 0 20px;
      font-weight: 400;
      color:#1c87c9;
      }
      p {
      margin: 0 0 5px;
      }
      .main-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      }
      form {
      padding: 25px;
      margin: 25px;
      box-shadow: 0 2px 5px #F5F5F5;
      background: #F5F5F5;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
      .fas {
      margin: 25px 10px 0;
      font-size: 72px;
      color: #fff;
      }
      .fa-envelope {
      transform: rotate(-20deg);
      }
      .fa-at , .fa-mail-bulk{
      transform: rotate(10deg);
      }
      input, textarea { width: calc(100% - 18px);
      padding: 8px;
      margin-bottom: 20px;
      border: 1px solid #1C87C9;
      outline: none;
      }
      input::placeholder {
      color: #666;
      }
      button {
      width: 100%;
      padding: 10px;
      border: none;
      background:#1c87c9;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      }
      button:hover {
      background: #2371A0;
      }
      @media (min-width: 568px) {
      .main-block {
      flex-direction: row;
      }
      .fa-envelope {
      margin-top: 0;
      margin-left: 20%;
      }
      .fa-at {
      margin-top: -10%;
      margin-left: 65%;
      }
      .fa-mail-bulk {
      margin-top: 2%;
      margin-left: 28%;
      }
      .download{
        padding: 20px;
      }